.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.connector {
}
.box_1 {
}
.image {
  color:#000000;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_area {
  color:#000000;
  text-align:left;
}
.refs-webm-wechat {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.box_3 {
}
.image1 {
}
._形状 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
._图片 {
}
.checkbox {
  text-align:left;
}
.form_disabled {
}
.label1 {
  font-size:13px;
  text-align:left;
}
.box_2 {
}
.button {
}
.menu_item {
}
.sticky_2 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.text_field {
  color:#000000;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.table_cell {
}
.droplist {
  color:#000000;
  text-align:left;
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.shape {
}
._形状1 {
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
.box_11 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
._表单禁用1 {
}
._形状2 {
}
.form_hint1 {
  color:#999999;
}
.form_disabled1 {
}
.icon {
}
.primary_button1 {
  color:#FFFFFF;
}
.box_12 {
}
.button1 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.text_area1 {
  color:#000000;
  text-align:left;
}
.form_disabled2 {
}
.flow_shape {
}
.refs-design-apple {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.image2 {
}
.horizontal_line {
}
.box_13 {
}
.line1 {
}
.ellipse {
}
textarea, select, input, button { outline: none; }
