body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:800px;
  background:inherit;
  background-color:rgba(45, 58, 75, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-52px;
  width:1400px;
  height:800px;
  display:flex;
}
#u2490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:243px;
  width:303px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u2491 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2491_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 52, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:336px;
  width:400px;
  height:40px;
  display:flex;
}
#u2493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2493_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 52, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2493.mouseOver {
}
#u2493_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 52, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2493.selected {
}
#u2493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2494_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2494_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:38px;
  background:inherit;
  background-color:rgba(40, 52, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:337px;
  width:339px;
  height:38px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u2494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2494_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2494.disabled {
}
#u2495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:349px;
  width:15px;
  height:15px;
  display:flex;
}
#u2495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 52, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:392px;
  width:400px;
  height:40px;
  display:flex;
}
#u2497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2497_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 52, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(192, 196, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2497.mouseOver {
}
#u2497_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(40, 52, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2497.selected {
}
#u2497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:405px;
  width:15px;
  height:15px;
  display:flex;
}
#u2498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:393px;
  width:317px;
  height:38px;
}
#u2499_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2499_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2500_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2500_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  background:inherit;
  background-color:rgba(39, 52, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:315px;
  height:38px;
  display:flex;
  color:#FFFFFF;
}
#u2500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2500_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2500.disabled {
}
#u2499_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2499_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2501_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  background:inherit;
  background-color:rgba(39, 52, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:315px;
  height:38px;
  display:flex;
  color:#FFFFFF;
}
#u2501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2501_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2501.disabled {
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:405px;
  width:20px;
  height:15px;
  display:flex;
}
#u2502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:405px;
  width:20px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u2503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:466px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
